@{
    ViewData["Title"] = "Liara Blog";
}
@model PostViewModel

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    .container {
        text-align: center;
        margin-top: 100px;
    }

    .display-4 {
        font-size: 3rem;
        font-weight: bold;
        color: #343a40;
    }

    .lead {
        font-size: 1.25rem;
        color: #6c757d;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Liara Blog</h1>
            <p class="lead">This is Liara Blog For Recording Cources and Testing.</p>
        </div>
    </div>
</div>
