@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/static/welcome.css")" rel="stylesheet">
    <title>Deployed to Liara</title>
</head>

<body>
    <h1>
        Hooray!
    </h1>

    <canvas id="drawing_canvas"></canvas>

    <script src="@Url.Content("~/static/welcome.js")"></script>

</body>

</html>