@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Single File</h4>
    <hr/>
    <form asp-controller="Home" asp-action="UploadFile" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>
</div>