@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    .container {
        text-align: center;
        margin-top: 100px;
    }

    h1 {
        font-size: 2rem;
        color: #343a40;
    }

    p {
        font-size: 1rem;
        color: #6c757d;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>
            <p>This Page is For Privacy Policy and Somethings Like This.</p>
        </div>
    </div>
</div>
