@page
@model IndexModel
@{
    ViewData["Title"] = "Liara";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployed to Liara</title>
</head>

<body>
    <h1>
        Hooray!
    </h1>

    <canvas id="drawing_canvas"></canvas>
</body>

</html>

