@page
@model IndexModel
@{
    ViewData["Title"] = "Liara ASP.NET Core Deployment";
}

<body style="background-color: #2c333f;">
<div class="container">
    <h2 class="text">
    Liara ASP.NET Core Deploy
    </h2>
</div>
</body>