/* _content/diskSetup/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Navbar Styles */
.navbar-brand[b-0cm29ua20a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav .nav-link[b-0cm29ua20a] {
  color: #0077cc;
}

.navbar-nav .nav-link:hover[b-0cm29ua20a] {
  color: #0056b3;
}

.navbar-dark .navbar-nav .nav-link.active[b-0cm29ua20a], .navbar-dark .navbar-nav .show > .nav-link[b-0cm29ua20a] {
  color: #fff;
  background-color: #1b6ec2;
}

/* Button Styles */
.btn-primary[b-0cm29ua20a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-primary:hover[b-0cm29ua20a] {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Border Styles */
.border-top[b-0cm29ua20a] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-0cm29ua20a] {
  border-bottom: 1px solid #e5e5e5;
}

/* Box Shadow */
.box-shadow[b-0cm29ua20a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Button Accept Policy */
button.accept-policy[b-0cm29ua20a] {
  font-size: 1rem;
  line-height: inherit;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

button.accept-policy:hover[b-0cm29ua20a] {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Footer Styles */
.footer[b-0cm29ua20a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: 20px 0;
}
